<footer>
	
	<nav class="navbar navbar-inverse navbar-fixed-bottom"
		role="navigation">
		<div class="collapse navbar-collapse navbar-ex1-collapse">
			<ul class="nav navbar-nav navbar-left">

				<li><a title="About hyperlink 66"
					href="https://mydonate.bt.com/mydonate/aboutmydonate/index.aspx">About</a></li>
				<li><a href="#/hello">Hello Webservice</a></li>
				<li><a title="Start fundraising hyperlink 67"
					href="#/donate">Start
						fundraising</a></li>
				<li><a title="Sponsor a fundraiser hyperlink 68"
					href="https://mydonate.bt.com/fundraiser/search.html">Sponsor a
						fundraiser</a></li>
				<li><a title="Donate to charity hyperlink 69"
					href="https://mydonate.bt.com/charity/charitySearch.html">Donate
						to charity</a></li>
				<li><a title="For charities hyperlink 70"
					href="https://mydonate.bt.com/mydonate/Forcharities/index.aspx">For
						charities</a></li>
				<li><a title="Latest news hyperlink 71"
					href="https://mydonate.bt.com/mydonate/News/index.aspx">Latest
						news</a></li>
				<li><a title="Follow us on Facebook" class="head-fbtw"
					href="https://www.facebook.com/BTMyDonate"><img height="23"
						width="21" alt="Facebook" id="img_PSR_6"
						src="/templates/images/icon-fb.gif" /></a></li>
				<li><a title="Follow us on Twitter" class="head-fbtw"
					href="https://twitter.com/BTMyDonate"><img height="23"
						width="21" alt="Twitter" id="img_PSR_7"
						src="/templates/images/icon-twitter.gif" /></a></li>
			</ul>
		</div>
		<!-- /.navbar-collapse -->
		</div>
		<!-- /.container -->
	</nav>

	

</footer>