<style>

.navbar-collapse.collapse {
    display: block !important;
    visibility: visible !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
    background-image: linear-gradient(to bottom,#d9edf7 0,#c4e3f3 100%);
}
</style>


<div class="container example2">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">        
        <a class="navbar-brand" href="#/">
        <img src="/templates/images/logo.png" style="position: absolute; top: 5px; left: 40px;"/>
        </a>        
      </div>
      <div id="navbar2" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#/donate">Donate</a></li>
          <li><a href="#/success">Success#</a></li>
         <li><a href="#/resume">Resume</a></li>

        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
    <!--/.container-fluid -->
  </nav>
</div>
